## 1. Carregar os dois dataframes de gasolina e combiná-los

In [1]:
import pandas as pd
import datetime

In [2]:
df1 = pd.read_csv("gasolina_2000+.csv", index_col=0)
df2 = pd.read_csv("gasolina_2010+.csv", index_col=0)

C:\Users\igoro\AppData\Local\Temp\ipykernel_8736\979999683.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("gasolina_2010+.csv", index_col=0)

In [3]:
df1

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52802,2010-12-26,2011-01-01,SUDESTE,RIO DE JANEIRO,ÓLEO DIESEL,574,R$/l,1.983,0.086,1.779,2.280,0.255,0.043,1.728,0.04,1.609,1.8536,0.023
52803,2010-12-26,2011-01-01,SUDESTE,SAO PAULO,ÓLEO DIESEL,1871,R$/l,1.966,0.070,1.699,2.399,0.261,0.036,1.705,0.045,1.5764,1.969,0.026
52804,2010-12-26,2011-01-01,SUL,PARANA,ÓLEO DIESEL,469,R$/l,1.946,0.058,1.799,2.109,0.19,0.030,1.756,0.038,1.659,1.9268,0.022
52805,2010-12-26,2011-01-01,SUL,RIO GRANDE DO SUL,ÓLEO DIESEL,419,R$/l,2.052,0.059,1.890,2.310,0.267,0.029,1.785,0.039,1.677,1.9172,0.022
52806,2010-12-26,2011-01-01,SUL,SANTA CATARINA,ÓLEO DIESEL,328,R$/l,2.018,0.066,1.849,2.210,0.225,0.033,1.793,0.042,1.7,1.8854,0.023

In [4]:
df2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
9256,2011-01-02,2011-01-08,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,80,R$/l,2.030,0.003,2.020,2.050,0.411,0.001,1.619,0.013,1.6111,1.6411,0.008
9257,2011-01-02,2011-01-08,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,255,R$/l,1.717,0.102,1.490,1.990,0.225,0.059,1.492,0.069,1.3221,1.6201,0.046
9258,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,141,R$/l,1.848,0.148,1.590,2.490,0.326,0.080,1.522,0.105,1.2833,1.7486,0.069
9259,2011-01-02,2011-01-08,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,132,R$/l,1.893,0.108,1.699,2.199,0.191,0.057,1.702,0.04,1.5915,1.79,0.024
9260,2011-01-02,2011-01-08,NORDESTE,ALAGOAS,ETANOL HIDRATADO,97,R$/l,2.026,0.084,1.749,2.100,0.268,0.041,1.758,0.042,1.63,1.848,0.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [12]:
Tab_final = pd.concat([df1, df2])

In [13]:
Tab_final

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [14]:
Tab_final.shape

(120823, 18)

## 2.Investigas as colunas e entender os dados usando head() e info()

In [15]:
Tab_final.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [16]:
Tab_final.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [17]:
Tab_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

## 3. Verifique a terceira coluna (Data Inicial) e verifique seu tipo

In [18]:
type(Tab_final["DATA INICIAL"][2])

str

## 4. Transformar as colunas de Data Inicial e Final em Timestamp/Datetime

In [19]:
Tab_final["DATA FINAL"]

0         2004-05-15
1         2004-05-15
2         2004-05-15
3         2004-05-15
4         2004-05-15
             ...
120818    2021-05-01
120819    2021-05-01
120820    2021-05-01
120821    2021-05-01
120822    2021-05-01
Name: DATA FINAL, Length: 120823, dtype: object

In [20]:
pd.to_datetime(Tab_final["DATA INICIAL"])

0        2004-05-09
1        2004-05-09
2        2004-05-09
3        2004-05-09
4        2004-05-09
            ...
120818   2021-04-25
120819   2021-04-25
120820   2021-04-25
120821   2021-04-25
120822   2021-04-25
Name: DATA INICIAL, Length: 120823, dtype: datetime64[ns]

In [21]:
pd.to_datetime(Tab_final["DATA FINAL"])

0        2004-05-15
1        2004-05-15
2        2004-05-15
3        2004-05-15
4        2004-05-15
            ...
120818   2021-05-01
120819   2021-05-01
120820   2021-05-01
120821   2021-05-01
120822   2021-05-01
Name: DATA FINAL, Length: 120823, dtype: datetime64[ns]

In [22]:
pd.to_datetime(Tab_final["DATA FINAL"])[1].month

5

In [23]:
Tab_final["DATA FINAL"] = pd.to_datetime(Tab_final["DATA FINAL"])
Tab_final["DATA INICIAL"] = pd.to_datetime(Tab_final["DATA INICIAL"])

In [24]:
Tab_final[["DATA FINAL"]]

       DATA FINAL
0      2004-05-15
1      2004-05-15
2      2004-05-15
3      2004-05-15
4      2004-05-15
...           ...
120818 2021-05-01
120819 2021-05-01
120820 2021-05-01
120821 2021-05-01
120822 2021-05-01

[120823 rows x 1 columns]

In [25]:
Tab_final[["DATA INICIAL"]]

       DATA INICIAL
0        2004-05-09
1        2004-05-09
2        2004-05-09
3        2004-05-09
4        2004-05-09
...             ...
120818   2021-04-25
120819   2021-04-25
120820   2021-04-25
120821   2021-04-25
120822   2021-04-25

[120823 rows x 1 columns]

## 5.Crie uma coluna para representar o mês e o ano [aaaa-mm], utilizando a coluna DATA FINAL como referência

In [26]:
Tab_final["ANO-MÊS"] = Tab_final["DATA FINAL"]
#Usando lambda e concatenando as strings

In [27]:
Tab_final["ANO-MÊS"]

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MÊS, Length: 120823, dtype: object

In [28]:
Tab_final["ANO-MÊS"] = Tab_final["DATA FINAL"].dt.strftime("%Y-%m")
#Usando a função dt,strftime

In [29]:
Tab_final["ANO-MÊS"]

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MÊS, Length: 120823, dtype: object

## 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados

In [82]:
pd.value_counts(Tab_final["PRODUTO"])
#Forma usando pd.value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

In [66]:
Tab_final["PRODUTO"].value_counts()
#Usando a variável e value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

## 7. Filtre o DataFrame para obter apenas dados da "GASOLINA COMUM". Grave em uma nova variável

In [67]:
gas_comum = Tab_final[(Tab_final['PRODUTO']) == "GASOLINA COMUM"]

In [68]:
gas_comum.shape

(23570, 19)

In [69]:
gas_comum

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MÊS
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

## 8. Qual o preço médio da gasolina em agosto de 2008?

In [81]:
gas_comum[gas_comum['ANO-MÊS'] == "2008-08"]["PREÇO MÉDIO REVENDA"].mean()
#Pegamos a variável de gasolina que criamos, pegamos somente o mês e ano e depois chamamos a função de média

2.6012444444444442

## 9. Qual o preço médio da gasolina em maio de 2014 em São Paulo?

In [83]:
gas_comum[(gas_comum['ANO-MÊS'] == "2014-05") & (gas_comum["ESTADO"] == "SAO PAULO")]["PREÇO MÉDIO REVENDA"].mean()
#Primeiro fazemos o filtro, depois passamos a variável a ser mostrada e sua função

2.8822

## 10. Quais estados a gasolina passou a valor de R$5,00 e quando isso ocorreu?

In [164]:
gas_comum[["ESTADO", "ANO-MÊS", "PREÇO MÉDIO REVENDA"]][gas_comum["PREÇO MÉDIO REVENDA"] > 5].head()

               ESTADO  ANO-MÊS  PREÇO MÉDIO REVENDA
98201            ACRE  2018-05                5.053
98347            ACRE  2018-06                5.035
98493            ACRE  2018-06                5.038
98511  RIO DE JANEIRO  2018-06                5.016
98646            ACRE  2018-06                5.031

## 11. Qual a média de preço dos estados da região sul em 2012?

In [133]:
df_aux = gas_comum[gas_comum["DATA FINAL"].apply(lambda x: x.year) == 2012]
df_aux[df_aux["REGIÃO"] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

## 12.Obtenha uma tabela com a variação percentual ano a ano para o estado do Rio de Janeiro?

In [137]:
Tab_final["MES"] = Tab_final["DATA FINAL"].apply(lambda x: x.month)
#criamos a coluna somente dos meses a partir da coluna data final
df_Rio = Tab_final[Tab_final["ESTADO"] == "RIO DE JANEIRO"]
#Criamos uma variável somente com os dados do Rio de Janeiro

In [142]:
df_mes_rio = df_Rio.groupby("ANO-MÊS")[['PREÇO MÉDIO REVENDA', 'MES']].last()
#Criamos outra variável que tem somente a Coluna de ANO-Mês

In [146]:
df_mes_rio[df_mes_rio['MES'] == 1]
#Com isso podemos ver a variação do preço da gasolina de cada mês mudando os anos

         PREÇO MÉDIO REVENDA  MES
ANO-MÊS
2005-01                1.619    1
2006-01                1.822    1
2007-01                1.811    1
2008-01                1.845    1
2009-01                2.085    1
2010-01                2.002    1
2011-01                1.991    1
2012-01                2.009    1
2013-01                1.659    1
2014-01                1.709    1
2015-01                1.816    1
2016-01                2.082    1
2017-01                2.051    1
2018-01                2.393    1
2019-01                3.150    1
2020-01                3.946    1
2021-01                3.802    1

In [151]:
df_mes_rio[df_mes_rio['MES'] == 1].count()

PREÇO MÉDIO REVENDA    17
MES                    17
dtype: int64

In [163]:
(df_mes_rio[df_mes_rio['MES'] == 12] / df_mes_rio[df_mes_rio['MES'] == 12].shift(1) - 1) * 100

         PREÇO MÉDIO REVENDA  MES
ANO-MÊS
2004-12                  NaN  NaN
2005-12            12.338063  0.0
2006-12            -0.878638  0.0
2007-12             0.720222  0.0
2008-12            14.466447  0.0
2009-12            -4.949543  0.0
2010-12             0.202224  0.0
2011-12             1.261352  0.0
2012-12             5.630294  0.0
2013-12           -21.084906  0.0
2014-12             7.770472  0.0
2015-12            17.304493  0.0
2016-12            -2.269504  0.0
2017-12             9.869376  0.0
2018-12            35.358873  0.0
2019-12            24.951204  0.0
2020-12            -1.483989  0.0

## DESAFIO: Crie uma tabela contendo uma série temporal com a diferença absoluta e percentual e entre os valores mais baratos e mais caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados

In [30]:
df_max = Tab_final.groupby("ANO-MÊS").max()["PREÇO MÉDIO REVENDA"]
df_min = Tab_final.groupby("ANO-MÊS").min()["PREÇO MÉDIO REVENDA"]

idx_max = Tab_final.groupby("ANO-MÊS")["PREÇO MÉDIO REVENDA"].idxmax()
idx_min = Tab_final.groupby("ANO-MÊS")["PREÇO MÉDIO REVENDA"].idxmin()

C:\Users\igoro\AppData\Local\Temp\ipykernel_8736\1893430843.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df_max = Tab_final.groupby("ANO-MÊS").max()["PREÇO MÉDIO REVENDA"]
C:\Users\igoro\AppData\Local\Temp\ipykernel_8736\1893430843.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  df_min = Tab_final.groupby("ANO-MÊS").min()["PREÇO MÉDIO REVENDA"]

In [31]:
df_diferenca = pd.DataFrame()

In [32]:
df_diferenca["abs_diff"] = df_max - df_min

In [33]:
df_diferenca

         abs_diff
ANO-MÊS
2004-05    38.562
2004-06    38.159
2004-07    38.182
2004-08    38.053
2004-09    38.031
...           ...
2021-01    95.521
2021-02    98.645
2021-03   104.751
2021-04   102.370
2021-05   101.091

[204 rows x 1 columns]

In [34]:
df_diferenca["percent_diff"] = ((df_max - df_min)/ df_min) * 100

In [35]:
df_diferenca["percent_diff"]

ANO-MÊS
2004-05    5034.203655
2004-06    4302.029312
2004-07    4247.163515
2004-08    3809.109109
2004-09    3806.906907
              ...
2021-01    3539.125602
2021-02    3524.294391
2021-03    3810.512914
2021-04    3625.000000
2021-05    3579.709632
Name: percent_diff, Length: 204, dtype: float64

In [36]:
idx_max

ANO-MÊS
2004-05     24145
2004-06     24226
2004-07     24442
2004-08     24523
2004-09     24631
            ...
2021-01    118421
2021-02    118943
2021-03    119656
2021-04    120200
2021-05    120736
Name: PREÇO MÉDIO REVENDA, Length: 204, dtype: int64

In [37]:
df_diferenca["ESTADO_MAX"] = Tab_final.loc[idx_max]["ESTADO"].values
df_diferenca["ESTADO_MIN"] = Tab_final.loc[idx_min]["ESTADO"].values

In [38]:
df_diferenca

         abs_diff  percent_diff   ESTADO_MAX   ESTADO_MIN
ANO-MÊS
2004-05    38.562   5034.203655         ACRE    SAO PAULO
2004-06    38.159   4302.029312         ACRE    SAO PAULO
2004-07    38.182   4247.163515         ACRE    SAO PAULO
2004-08    38.053   3809.109109         ACRE   PERNAMBUCO
2004-09    38.031   3806.906907         ACRE   PERNAMBUCO
...           ...           ...          ...          ...
2021-01    95.521   3539.125602  MATO GROSSO  MATO GROSSO
2021-02    98.645   3524.294391        AMAPA  MATO GROSSO
2021-03   104.751   3810.512914         ACRE  MATO GROSSO
2021-04   102.370   3625.000000  MATO GROSSO  MATO GROSSO
2021-05   101.091   3579.709632  MATO GROSSO  MATO GROSSO

[204 rows x 4 columns]

In [39]:
df_diferenca["ESTADO_MAX"].value_counts()

MATO GROSSO    192
ACRE            11
AMAPA            1
Name: ESTADO_MAX, dtype: int64

In [40]:
df_diferenca["ESTADO_MIN"].value_counts()

SAO PAULO              100
RIO DE JANEIRO          30
MATO GROSSO             26
SANTA CATARINA          17
PERNAMBUCO              10
PARANA                   8
RIO GRANDE DO NORTE      5
ESPIRITO SANTO           5
MINAS GERAIS             1
GOIAS                    1
BAHIA                    1
Name: ESTADO_MIN, dtype: int64